<a href="https://colab.research.google.com/github/KirtiRanjan26/Pandas-Tutorial/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Why use Pandas?
Handles large datasets easily compared to Excel.

Convenient syntax for filtering, grouping, and transforming data.

Works well with CSV, Excel, SQL databases, JSON, and more.

Built on top of NumPy, so itâ€™s fast and integrates with other data science libraries.

In [1]:
import pandas as pd

In [2]:
# series :-1D labeled array (like a single Excel column).
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s)

a    10
b    20
c    30
dtype: int64

### Dataframe

In [8]:
# create empty dataframe
import pandas as pd
df = pd.DataFrame()
print(df)
# create dataframe from list
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
4  5
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [15]:
# create a dataframe from Dictionary
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)
# remove default index
print(df.to_string(index= False))
#

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
 Name  Age
  Tom   28
 Jack   34
Steve   29
Ricky   42

In [16]:
# dataframe from series
import pandas as pd

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [20]:
# read csv file
df=pd.read_csv('/content/sample_data/california_housing_test.csv')
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [22]:
# save data as csv file
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data)
print(df.to_csv('new.csv',index=False))
df=pd.read_csv('/content/new.csv')
print(df)

None
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

### Accessing the DataFrame

In [1]:
import pandas as pd

# Create a DataFrame
data={
    'Name': ['Steve', 'Lia', 'Vin', 'Katie'],
    'Age': [32, 28, 45, 38],
    'Gender': ['Male', 'Female', 'Male', 'Female'],
    'Rating': [3.45, 4.6, 3.9, 2.78]}
df=pd.DataFrame(data,index=['r1','r2','r3','r4'])
print(df)

# Access the rows of the DataFrame
result = df.index
print('Output Accessed Row Labels:', result)
df.index = [100, 200, 300, 400]
print('Output Modified DataFrame with the updated index labels:\n', df)

     Name  Age  Gender  Rating
r1  Steve   32    Male    3.45
r2    Lia   28  Female    4.60
r3    Vin   45    Male    3.90
r4  Katie   38  Female    2.78
Output Accessed Row Labels: Index(['r1', 'r2', 'r3', 'r4'], dtype='object')
Output Modified DataFrame with the updated index labels:
       Name  Age  Gender  Rating
100  Steve   32    Male    3.45
200    Lia   28  Female    4.60
300    Vin   45    Male    3.90
400  Katie   38  Female    2.78

In [6]:
print(df['Name']) # simple way to access single column

100    Steve
200      Lia
300      Vin
400    Katie
Name: Name, dtype: object

In [16]:
# Use loc if you know the labels.
df
#df.loc[['index or label name'],['column name']]
print("print single value:\n",df.loc[200,'Name'])   # Single value â†’ 50
print("print multivalue serialwise\n",df.loc[100:300, 'Name'])    # Slice by labels
print("print multiplevalue in any position\n",df.loc[[100, 400], ['Rating','Name']])  # Multiple rows & columns
print("print easy syntex for single or multiple value\n",df.loc[[200],['Name']])

print single value:
 Lia
print multivalue serialwise
 100    Steve
200      Lia
300      Vin
Name: Name, dtype: object
print multiplevalue in any position
      Rating   Name
100    3.45  Steve
400    2.78  Katie
print easy syntex for single or multiple value
     Name
200  Lia

In [ ]:
# Use iloc if you know the integer positions.

In [ ]:
# Use at for one value by label (fast).

# Use iat for one value by position (fast).